importFrom("stats", "embed", "optim", "quantile", "runif")
importFrom("utils", "setTxtProgressBar", "tail", "txtProgressBar")
importFrom("zoo", "index")

import(cmaes)
import(caTools)
import(evd)
import(xts)

export(durationLevels, exQt, hydroYears, ts2events)
export(dMultiGEV, pMultiGEV, qMultiGEV, rMultiGEV, fitMultiGEV)